@import "./variables.css";

.hero {
  position: relative;
  min-height: 100dvh;
  width: 100%;
  overflow: hidden;
  background: radial-gradient(circle at 30% 50%, var(--primary-clr-2) 0%, transparent 70%);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background: linear-gradient(to top, var(--primary-clr-1) 0%, transparent 100%);
  z-index: 2;
  pointer-events: none;
}

.hero__content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

.hero__avatar {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 1;
  object-fit: contain;
  pointer-events: none;
  transition: all 0.4s ease;
}

.info__badge {
  background-color: var(--accent-clr-alpha);
  color: var(--accent-clr-title);
  padding: 10px 15px 10px ;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
}

.info__badge:hover {
  background-color: var(--secondary-clr-alpha);
}

.badge__dot {
  display: inline-block;
  background-color: var(--secondary-clr);
  height: 15px;
  width: 15px;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--secondary-clr);
}

.info__title {
  color: var(--accent-clr-title);
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: var(--fw-regular);
  margin-top: 20px;
}

.info__right {
  display: flex;
  flex-direction: column;
}

.info__text {
  font-size: 18px;
}

.info__badge--big {

  background-color: var(--secondary-clr);
  margin-top: 20px;
  padding: 5px;
  padding-right: 25px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  transition: transform 0.3 ease;
}

@media (hover: hover) and (pointer: fine) {
  .info__badge--big:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px var(--secondary-clr);
  }

  .info__badge--big:hover .info__arrow {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
    color: var(--secondary-clr);
    transform: scale(0.9);
  }
}

.info__badge--big:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.info__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-clr-title);
  color: var(--secondary-clr);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: none;
}

.info__btn {
    color: var(--accent-clr-title);
    font-weight: var(--fw-bold);
}

.hero__title--giant {
   font-size: clamp(2rem, 18vw, 15rem);
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--fw-black);
    color: var(--accent-clr-title);
    color: transparent;
    -webkit-text-stroke: 1px var(--accent-clr-title);
}

.desktop-title {
  display: none;
}

.mobile-marquee {
  position: absolute;
  bottom: -2%;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  pointer-events: none;
}

.marquee-track {
  display: flex;
  white-space: nowrap;
  animation: scrollMarquee 10s linear infinite;
}

.dot {
  color: var(--secondary-clr);
  -webkit-text-stroke: 0; 
}


@keyframes scrollMarquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
  

@media (orientation: landscape) and (max-width: 767px) {
  .hero__avatar {
    display: block;
    left: auto;
    right: -20%;
    bottom: -10%;
    transform: none;
    height: 100%;
    filter: brightness(0.6);
  }

  .hero__info {
    padding-right: 40%;
  }

  .hero__title--giant {
    /* Folosim 'vh' (înălțime) în loc de 'vw' (lățime). Textul va fi mai mic și elegant. */
    font-size: clamp(2rem, 15vh, 5rem); 
  }
}


@media (min-width: 768px) {

  .hero {
    height: 100dvh;
  }

  .hero::before{
    content: "";
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    background: radial-gradient(circle, var(--secondary-clr) 0%, rgba(192, 20, 20, 0) 70%
    );
    opacity: 0.3;
    z-index: 1;
    filter: blur(80px);
  }

  .hero__content {
    padding-top: 100px;
    padding-bottom: 0;
    height: 100%;
  }

  .hero__avatar {
    display: block;
    left: 50%;
    right: auto;
    transform: translate(-50%);
    height: 90%;
    width: auto;
    filter: brightness(0) blur(20px) drop-shadow(0px 0px 20px var(--secondary-clr-alpha));
  }

  .hero__info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
  }

  .info__right {
    max-width: 350px;
    margin: 0;
  }

  .hero__title--giant {
  font-size: clamp(3rem, 11vw, 15rem);
  line-height: 0.7;
  margin: 0;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--fw-black);
  letter-spacing: -0.08em;
  color: var(--accent-clr-title);
  }

  .info__title {
    font-size: 3rem;
  }

  .desktop-title {
    display: flex;
  }

  .mobile-marquee {
    display: none;
  }

  .hero__title--giant.desktop-title {
    align-self: center;
  }

}

