@import "./css/reset.css";
@import "./css/variables.css";
@import "./css/header.css";
@import "./css/hero.css";
@import "./css/about.css";
@import "./css/projects.css";
@import "./css/footer.css";

body {
  background-color: var(--primary-clr-1);
  /* Asigură-te că fundalul acoperă cel puțin toată înălțimea ecranului */
  min-height: 100vh;
  background-attachment: fixed;
  
  /* Culoarea textului globală */
  color: var(--accent-clr-sub);
  margin: 0;
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, .hero__title--gian {
  font-family: var(--ff-heading);
}

.u-hidden {
  display: none !important;
}

.u-no-scroll {
  overflow: hidden !important;
  height: 100vh !important;
  touch-action: none !important;
}
